berserk # Lichess API wrapper
chess # Chess library for Python
chess.com # Chess.com API wrapper
customtkinter # CustomTkinter for GUI
itertools # Itertools for list multiplication
typing # Type hinting
os # OS module for file operations
pillow # Pillow for image processing
pygame # Pygame for sounds
stockfish # Interaction with engine