berserk # Lichess API wrapper
chess.com # Chess.com API wrapper
customtkinter # CustomTkinter for GUI
pillow # Pillow for image processing
pygame # Pygame for sounds
python-chess # Chess library for Python
stockfish # Interaction with engine